body {
    background-color: #000;
    text-align: center;
    h2 {
        color: $bodyfont;
        
        margin-top: 50px;
    }
    h1 {
        color: $hover;
    }
    h5 {
        margin-top: 50px;
    }
}
img {
    padding-top: 25px;
}

#col1 {
    button {
        height: 123px;
        width: 123px;
        padding: 20px 10px;
        border: 5px solid;
        background-color: whitesmoke;
        margin-top: 35px;
    }
    .button-left {
        margin: auto;
        margin-right: 15px;
    }
    
    .button-right {
        margin: auto;
        margin-left: 15px;
    }
    .row {
        p {
            width: 350px;
            color: black;
            margin-top: 25px;
            margin-left: 200px;
        }
    }
}
.col5 { 
    .row {
        p {
            margin-top: 0;
            margin-left: 0;        
        }
    }}
.col-sm-4 {      
    h1 {
        float: right;
        margin-top: 150px;
        font-size: 50px;
    }

    img {
        width: 200px;
    }
}

.container {
    background-color: whitesmoke;
}

